[global]
gmCapable               1
priority1               128
priority2               128
logAnnounceInterval     0
logSyncInterval         -3
syncReceiptTimeout      3
neighborPropDelayThresh 800
min_neighbor_prop_delay -20000000
assume_two_step         1
path_trace_enabled      1
follow_up_info          1
transportSpecific       0x1
network_transport       L2
delay_mechanism         E2E

# IMPORTANT: Add these to ensure it behaves as a Grandmaster
# 0 means the clock is controlled by phc2sys (which is syncing from NTP)
free_running            0
# Frequency/Phase is modified by phc2sys
write_phase_mode        1