# Byte-compiled / optimized / DLL files
__pycache__/


# Jupyter Notebook
.ipynb_checkpoints


# IPython
profile_default/
ipython_config.py


# Ignore redis binary dump (dump.rdb) files
*.rdb


# pyenv
# For a library or package, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
# .python-version


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Spyder project settings
.spyderproject
.spyproject


# Cython debug symbols
cython_debug/


# logfiles
*.log
