# ============================================================================ #
# primecam_readout specific rules

# logfiles
*.log

# temp dir
tmp/

# config files
_cfg_board.py
_cfg_queen.py

# drones
drone?/cal_tones/
drone?/targ/
drone?/vna/


# ============================================================================ #
# general rules

# Byte-compiled / optimized / DLL
__pycache__/

# Visual Studio Code
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Redis binary dump (dump.rdb)
*.rdb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Cython debug symbols
cython_debug/

# Apple config files
.DS_store